<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script='contollers/register.js'></script>
</head>
<body ng-app="registerController" ng-controller="AppCtrl">
  <h1>Register</h1>
  <div class="container">
    <form ng-submit='addUser()'>
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model='user.name'>
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" name="username" class="form-control" ng-model='user.username'>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" name="email" class="form-control" ng-model='user.email'>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" ng-model='user.password'>
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>
</body>
</html>

<script>
var registerController = angular.module("registerController", []);
registerController.controller('AppCtrl', ['$scope', '$http', function($scope, $http){
  $scope.addUser = function() {
    console.log($scope.user);
    var req = {
     method: 'POST',
     url: 'http://localhost:3000/users/register',
     headers: {
       'Content-Type': 'application/json'
     },
     data: $scope.user
    }
    $http(req).then(function(res){
      console.log(res);
    });
  }
}])
</script>
